    /* 边框背景不能忘，文字属性紧跟上 */

    /* 清除所有样式 */
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f3f5f7;
        /* height: 3000px; */
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    /* 清除浮动 给需要清除的父亲加class = "clearfix"即可*/
    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .clearfix {
        *zoom: 1;
    }

    .w {
        width: 1200px;
        margin: auto;


    }

    .header {
        height: 42px;
        margin: 30px auto;

    }

    .logo {
        float: left;
        height: 42px;
        width: 197px;
    }

    .nav {
        float: left;
        margin-left: 60px;
    }

    .nav ul li {
        float: left;
        margin: 0 15px;
    }

    .nav ul li a {
        display: block;
        height: 42px;
        padding: 0 10px;
        line-height: 42px;
        font-size: 18px;
        color: #050505;


    }

    .nav ul li a:hover {
        border-bottom: 2px solid #00a4ff;
        color: #00a4ff;
    }

    /* 搜索模块 */
    .search {
        float: left;
        width: 412px;
        height: 42px;
        background-color: skyblue;
        margin-left: 50px;
    }

    .search input {
        width: 345px;
        height: 40px;
        border: 1px solid #00a4ff;
        border-right: 0;
        color: #bfbfbf;
        font-size: 14px;
        padding-left: 15px;

    }

    /* 按钮默认有个边框，需要border 0 去掉 */
    .search button {
        float: right;
        border: 0;
        width: 50px;
        height: 42px;
        background-image: url(images/btn.png);
    }

    .user {
        float: left;
        margin-left: 30px;
        line-height: 42px;
        font-size: 14px;
        color: #666;
    }

    .user>img {
        /* 图片文字居中对齐 */
        vertical-align: middle;
    }

    /* banner部分 */
    .banner {
        height: 421px;
        background-color: #1c036c;
    }

    .banner .w {
        height: 421px;
        background: url(images/banner.png) no-repeat top center;
    }

    .subnav {
        width: 190px;
        height: 421px;
        background: rgba(0, 0, 0, .3);
    }

    .subnav ul li {
        height: 45px;
        line-height: 45px;
        margin: 0 20px;
    }

    .subnav ul li a {
        font-size: 14px;
        color: #fff;
    }

    .subnav ul li a:hover {

        color: #00a4ff;
    }

    .subnav ul li a span {
        float: right;
    }

    .course {
        float: right;
        width: 230px;
        height: 300px;
        background-color: #fff;
        /* 浮动的盒子不会有外边距合并的问题 */
        margin-top: 50px;
    }

    .course h2 {
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        text-align: center;
        color: #fff;
        background-color: #00a4ff;
    }

    .course .bd {
        padding: 0 20px;
    }

    .bd ul li {
        padding: 14px 0;
        border-bottom: 1px solid#ccc;
    }

    .bd ul li h4 {
        font-size: 16px;
        text-align: center;
        color: #4e4e4e;
    }

    .bd ul li p {
        font-size: 12px;
        text-align: center;
        color: #a5a5a5;
    }

    .bd .more {
        display: block;
        height: 38px;
        border: 1px solid #00a4ff;
        text-align: center;
        line-height: 38px;
        color: #00a4ff;
        font-size: 16px;
        margin-top: 5px;
    }

    /* 精品推荐模块 */
    .goods {
        height: 60px;
        margin-top: 10px;
        background-color: #fff;
        box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .1);
        /* 行高会继承给下面三个孩子 */
        line-height: 60px;
    }

    .goods h3 {
        float: left;
        margin-left: 30px;
        font-size: 16px;
        color: #00a4ff;
    }

    .goods ul {
        float: left;
        margin-left: 30px;
    }

    .goods .mod {
        float: right;
        margin-right: 30px;
        font-size: 14px;
        color: #00a4ff;
    }

    .goods ul li {
        float: left;

    }

    .goods ul li a {
        padding: 0 30px;
        font-size: 16px;
        color: #050505;
        border-left: 1px solid #ccc;
    }

    .box {
        margin-top: 30px;

    }

    .box-hd {
        height: 45px;
    }

    .box-hd h3 {
        float: left;
        font-size: 20px;
        color: #494949;
    }

    .box-hd a {
        float: right;
        font-size: 12px;
        color: #a5a5a5;
        margin-top: 10px;
        margin-right: 30px;

    }

    .box-bd ul li {
        float: left;
        width: 228px;
        height: 270px;
        background-color: #fff;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    /* 把li的父亲ul修改足够宽一行能装下5个li 230+15=245*5 */
    .box-bd ul {
        width: 1225px;
    }

    /* 把背景图片强制修改成100%，否则会比父盒子大 */
    .box-bd ul li>img {
        width: 100%;
    }

    .box-bd ul li {
        position: relative;
    }

    .box-bd ul li em {
        position: absolute;
        top: 4px;
        right: -4px;
    }

    .box-bd ul li h4 {
        margin: 20px 20px 20px 25px;
        font-size: 14px;
        color: #050505;
        font-weight: 400;

    }

    .info {
        margin: 0 20px 0 25px;
        font-size: 12px;
        color: #999;
    }

    .info span {
        color: #ff7c2d;
    }

    .footer {

        height: 415px;
        /* background-color: pink; */
    }

    .footer .w {
        /* 这里用margin会有外边距合并的问题，所以用padding */
        padding-top: 35px;
    }

    .copyright {
        float: left;
    }

    .copyright p {
        font-size: 12px;
        color: #666;
        margin: 20px 0 15px 0;
    }

    .copyright .app {
        display: block;
        width: 118px;
        height: 33px;
        font-size: 16px;
        line-height: 33px;
        color: #00a4ff;
        border: 1px solid #00a4ff;
        text-align: center;
    }

    .link {
        float: right;
    }

    .link dl {
        float: right;
        margin-left: 100px;
    }

    .link dl dt a {
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
    }

    .link dl dd a {
        font-size: 12px;
        color: #333;
    }

    /*  */